/* Add any additional styles you need */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use viewport height to set the body height */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
  flex: 1; /* Allow iframe to take up all available space */
  width: 100%;
  border: none; /* Optional: remove border */
}
