.form-row {
    padding: 5px 0;
}
label {
    margin-bottom: 1rem;
    font-weight: 600;
}
input {
    display: block;
    font-size: inherit;
}

button {
    font-size: inherit;
    border-radius: 6px;
    padding: 0.3rem 0.6rem;
}

.gradient {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle at -100% -100%,
        rgb(5, 68, 166) 0%,
        rgb(201, 21, 176) 12%,
        rgb(0, 212, 255) 33%,
        rgb(69, 200, 190) 42%,
        rgb(201, 21, 176) 61%,
        rgb(70, 52, 169) 74%,
        rgb(201, 21, 176) 91%
    );
}

/* center this div */
.login-body {
    width: 500px;
    margin: auto;
    margin-top: 75px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 16px;
    line-height: 24px;
    background: var(--vscode-editor-background);
    border: 1px solid dark-grey;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-body button {
    margin: 5px 0;
}

.login-success,
.login-error,
.login-progress {
    width: 100%;
    border: 1px solid;
    padding: 1rem;
    border-radius: 5px;
}

.vscode-dark .login-success {
    color: rgb(117, 183, 152);
    border-color: rgb(15, 81, 50);
    background-color: rgb(5, 27, 17);
}
.vscode-dark .login-error {
    color: rgb(234, 134, 143);
    border-color: rgb(132, 32, 41);
    background-color: rgb(44, 11, 14);
}
.vscode-dark .login-progress {
    color: rgb(255, 218, 106);
    border-color: rgb(153, 116, 4);
    background-color: rgb(51, 39, 1);
}

.login-success {
    color: rgb(10, 54, 34);
    border-color: rgb(163, 207, 187);
    background-color: rgb(209, 231, 221);
}
.login-error {
    color: rgb(88, 21, 28);
    border-color: rgb(241, 174, 181);
    background-color: rgb(248, 215, 218);
}
.login-progress {
    color: rgb(102, 77, 3);
    border-color: rgb(255, 230, 156);
    background-color: rgb(255, 243, 205);
}
