name: Discord PR Notification
permissions:
  contents: read

on:
  pull_request_target:
    types:
     - opened
     - closed
     - ready_for_review
     - converted_to_draft

jobs:
  notify:
    uses: novem-code/github-actions/.github/workflows/discord_pr.yml@v4
    with:
      pr_title: ${{ github.event.pull_request.title }}
      pr_number: ${{ github.event.pull_request.number }}
      pr_url: ${{ github.event.pull_request.html_url }}
      repo_full_name: ${{ github.repository }}
      pr_draft: ${{ github.event.pull_request.draft }}
    secrets:
      discord_webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
