name: Release Extension

on:
  release:
    types: 
      - created
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      
      - name: Install dependencies
        run: npm install
      
      - name: Install vsce
        run: npm install -g vsce

      - name: Publish Extension
        env:
          VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
        run: vsce publish
